@import "global";

.AdminPage
{
    background-color: $less-white;
    padding-top: 10px;

    // height: calc(100vh - 156px);

    ::-webkit-scrollbar 
    {
        width: 0.4em;
        height: 0.4em;
    }

    ::-webkit-scrollbar-track
    {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.00);
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.00);
    }

    ::-webkit-scrollbar-thumb
    {
        background-color: rgba(0,0,0,.1);
        outline: 1px solid slategrey
    }

    ::-webkit-scrollbar-thumb:hover
    {
        background: $lesser-white;
    }

    .Dashboard
    {
        height: 82vh;
        // margin-left: 20px;

        .DashboardToolbar
        {
            background-color: $blue;
        }

        .DashboardTitle
        {
            font-size: $bigger-font-size;

            margin-right: 20px;
        }

        .List
        {
            padding: 0;

            .ListItem
            {
                transition: 200ms;
                color: $graphite;

                &.active
                {
                    background-color: $lesser-white;
                }

                .ListItemText
                {
                    span
                    {
                        font-size: $normal-font-size;
                    }
                }
            }
        }
    }

    .Paper
    {
        overflow-y: scroll;

        height: 82vh;

        .TableToolbar
        {
            background-color: $blue;

            .Pagination
            {
                position: absolute;
                right: 20px;

                .MuiTablePagination-caption
                {
                    font-size: $small-font-size;
                }
            }

            .Sort
            {
                margin-left: 30px;

                font-size: $small-font-size;
            }

            .Select, .TableSearch
            {
                padding: 
                {
                    left: 10px;
                    top: 1px;
                    botton: 1px;
                    right: 1px;
                }
            }

            .MuiTablePagination-select, .Select, .TableSearch
            {
                transition: 200ms;

                color: white;
                font-size: $small-font-size;
                background-color: $white-blue;
                border-radius: 5px;

                margin-left: 10px;
                
                &:hover, &:focus, &:active
                {
                    background-color: $whiter-blue;
                }
            }

            .Export.Button
            {
                margin-right: 20px;
                color: white;
                font-size: $small-font-size;
                background-color: $white-blue;
                border-radius: 5px;

                &:hover
                {
                    background-color: $whiter-blue;
                }
            }
        }

        .TableTitle
        {
            font-size: $bigger-font-size;

            margin-right: 10px;
        }

        .Table
        {
            margin-top: 10px;

            .TableCell
            {
                font-size: $small-font-size;

                &.Status
                {
                    &.Validated
                    {
                        color: $green;
                    }

                    &.Rejected
                    {
                        color: $red;
                    }
                }

                .Button
                {
                    color: white;

                    margin-right: 5px;

                    font-size: $small-font-size;
                    
                    width: 85px;

                    &.Validate
                    {
                        background-color: $blue;
                    }

                    &.Reject
                    {
                        background-color: $red;
                    }
                }
            }

            .TableBody
            {
                .TableRow
                {
                    transition: 200ms;

                    cursor: pointer;

                    &:hover
                    {
                        background-color: $less-white !important;
                    }

                    &:active
                    {
                        background-color: $lesser-white !important;
                    }

                    &.odd
                    {
                        background-color: $almost-white;
                    }
                }
            }

            .TableHead
            {
                .TableCell
                {
                    font-size: $smaller-font-size;
                }
            }
        }
    }

    .AuctionUsername
    {
        color: $blue;
    }

}

.ExportDialog
{
    .DialogTitle
    {
        .MuiTypography-h6
        {
            font-size: $normal-font-size !important;
        }
    }

    .Select
    {
        margin-left: 10px;
    }

    .MuiInputBase-input
    {
        font-size: $small-font-size !important;
        text-align: left;
    }

    .ListItemText
    {
        .MuiTypography-body1
        {
            font-size: $smaller-font-size;
        }
        
    }

    .Button
    {
        font-size: $smaller-font-size;
    }
    font-size: $small-font-size;
}