@import 'global';

.Carousel
{
    position: relative;

    .Indicators
    {
        width: 100%;
        margin-top: 10px;
        text-align: center;
        
        .Indicator
        {
            
            transition: 200ms;

            color: $grey;

            &.Active
            {
                color: $graphite;
            }
        }
    }

    .Button
    {
        position: absolute;
        height: calc(100% - 20px - 10px);
        width: 50px;
        background-color: black;
        color: white;
        opacity: 0;
        top: 0;

        font-size: $big-header-font-size;

        &.Next
        {
            right: 0;
        }

        &.Prev
        {
            left: 0
        }

        transition: 200ms;
        cursor: pointer;

        &:hover
        {
            background-color: black;
            filter: brightness(120%);
            opacity: 0.6;
        }
    }
}