$blue: rgb(72, 109, 209);
$grey-blue: #557a95;

$orange: orange;
$somon: #379683;

$red: rgb(196, 37, 37);
$dark-red: rgb(119, 24, 24);

$green: #138d27;

$almost-white: rgb(241, 241, 241);
$less-white: rgb(230, 230, 230);
$lesser-white: rgb(216, 216, 216);
$graphite: rgb(73, 73, 73);

$font: Ubuntu, Helvetica, Arial, sans-serif;

$small-font-size: 15px;
$normal-font-size: 18px;
$header-font-size: 25px;

$main-color: $red;
$secondary-color: $dark-red;

@mixin vertical_center
{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY((-50%));
    transform: translateY(-50%);
}

body, #root, .App
{
    height: 100vh;
    width: 100vw;
}

.link
{
    text: {
        decoration: none;
    }

    font: {
        family: $font;
        size: 18px;
    }

    border: none;
    outline: none;

    cursor: pointer;

    background: none;

    color: $blue;
}
