@import "global";

$Header-height: 80px;
$Search-height: calc(#{$Header-height} / 2.2);

.Header
{
    display: grid;
    grid-template-columns: 250px 5fr 250px;
    
    background-color: $secondary-color;
    height: $Header-height;

    color: white;

    // box-shadow: 1px 1px 20px $graphite;

    filter: drop-shadow(1px 1px 10px $graphite);
    
    #Logo
    {
        filter: drop-shadow(1px 1px 2px $graphite);

        height: $Header-height;

        color: white;

        line-height: $header-font-size;
        font-size: $header-font-size;

        box-sizing: border-box;
        margin-left: 25px;

        display: grid;
        grid-template-columns: 1fr 3fr;



        img
        {
            width: 100%;
            padding: calc((#{$Header-height} - 80px) / 2) 0;
        }

        p
        {
            margin: 0;
            padding: calc((#{$Header-height} - #{$header-font-size}) / 2) 10px;

        }
    }

    .SearchBar
    {
        filter: drop-shadow(1px 1px 2px $graphite);

        font-size: $normal-font-size;

        border-radius: 5px;
        border: none;

        box-sizing: border-box;

        display: grid;
        grid-template-columns: 1fr 7fr 1fr;

        width: 80%;
        height: $Header-height;

        margin: 0 auto;
        padding: calc((#{$Header-height} - #{$Search-height}) / 2) 50px;

        select
        {
            cursor: pointer;

            font-size: inherit;

            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            
            border:
            {
                right: 0.3px solid grey;
                left: 0;
                top: 0;
                bottom: 0;
            }

            height: $Search-height;

            padding: 10px;

            color: $graphite;

            background-color: $less-white;

            transition: 200ms;

            &:hover, &:focus, &:active
            {
                background-color: $lesser-white;
            }

            option
            {
                padding: 20px;
            }            
        }

        input
        {
            cursor: pointer;

            font-size: inherit;

            border: none;
            outline: none;

            height: $Search-height;

            padding: 0 25px;

            background-color: $almost-white;

            color: $graphite;

            transition: 200ms;

            &:hover, &:focus, &:active
            {
                background-color: $basically-white;
            }

            &:active, &:focus
            {
                background-color: $lesser-white;
                cursor: text;
            }
        }

        button
        {
            font-size: $small-font-size;
            background-color: $main-color;

            border:none;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            outline:none;

            cursor: pointer;

            width: $Search-height;

            &:hover, &:active
            {
                background-color: $main-hover;
            }
        }
    }

    .AccountSnapshot
    {
        &.Empty
        {
            text-shadow: 1px 1px 1px $graphite;

            line-height: $normal-font-size;
            font-size: $normal-font-size;
    
            height: $Header-height;
    
            box-sizing: border-box;
            padding: calc((#{$Header-height} - #{$normal-font-size} - 1px) / 2) 50px;

            .Login
            {
                font: {
                    size: 18px;
                }

                transition: 200ms;
                &:hover
                {
                    filter: brightness(120%);
                }
            }
        }

        &.Full
        {

            padding: 20px 0;
            .Avatar
            {
                margin: 0;
                cursor: pointer;

                text-transform: capitalize;

                background-color: $blue;

                font-size: $normal-font-size;

                transition: 200ms;

                &:hover
                {
                    filter: brightness(120%);
                }
            }

            .Button
            {
                color: white;
            }
        }  
    }
}


.Notifications-content
{
    z-index: 2;
    padding: 0 !important;
    border-radius: 5px;

    width: 300px !important;

    .Empty
    {
        padding: 20px;
    }

    * {
        z-index: 2 !important;
    }
}

.Notification
{
    &.odd
    {
        background-color: $almost-white;
    }

    .Action
    {
        padding: 10px;
        font-size: $small-font-size;

        color: $mui-secondary;
    }

    cursor: pointer;
    transition: 200ms !important;

    &:hover
    {
        background-color: $less-white;
    }
}

.Menu
{
    background-color: $secondary-color;
    color: white;
    

    .Button
    {
        outline: none;

        text-decoration: none;
        font-size: $small-font-size;
        color: white;

        padding:
        {
            top: 15px;
            bottom: 15px;
            right: 50px;
            left: 50px;
        }

        &.inactive
        {
            background-color: inherit;
        }

        &:hover
        {
            background-color: $secondary-hover;
        }

        &:active, &.active
        {
            background-color: $secondary-active;

        }

        transition: 200ms;
    }
}
