@import 'global';

.RecommendedGrid
{
    ::-webkit-scrollbar 
    {
        width: 0.4em;
        height: 0.4em;
    }

    ::-webkit-scrollbar-track
    {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.00);
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.00);
    }

    ::-webkit-scrollbar-thumb
    {
        background-color: rgba(0,0,0,.1);
        outline: 1px solid slategrey
    }

    ::-webkit-scrollbar-thumb:hover
    {
        background: $lesser-white;
    }

    h2
    {
        margin: 0;
    }

    .Wrapper
    {
        margin-left: 10px;
        margin-right: 10px;

        .Item
        {
            transition: 200ms;
            overflow: auto;

            background-color: $almost-white;

            &:hover
            {
                background-color: $less-white;
            }
        }

        .Media {
            object-fit: contain;
            height: 250px;

            cursor: pointer;
        }


        .ItemBody
        {
            margin-left: 0px;

            .Title
            {
                cursor: pointer;

                &:hover
                {
                    color: $graphite;
                }
            }
        }

        .Seller
        {
            color: $blue;
            cursor: pointer;

            &:hover
            {
                filter: brightness(130%);
            }
        }

        .Pricing
        {
            margin-top: 10px;
        }


        .Prices
        {
            color: $graphite;

            .Title
            {
                font-weight: 300;
            }

            .Price
            {
                &.Starting
                {
                    color: $blue;
                }

                &.Current
                {
                    color: $green;
                }

                &.Buyout
                {
                    color: $red;
                }
            }
        }
    }
}
