@import 'global';

.SearchResultsPage
{
    color: $graphite;

    h2
    {
        font-size: $big-header-font-size;
        margin-left: 15px;

        span
        {
            margin-left: 50px;
            font-size: $smaller-font-size;
            font-weight: 400;

            select
            {
                outline: none;

                filter: drop-shadow(1px 1px 1px $graphite);

                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                
                border:
                {
                    right: 0.3px solid grey;
                    left: 0;
                    top: 0;
                    bottom: 0;
                }

                font-size: $small-font-size;

                padding: 10px;

                background-color: $less-white;
            }
        }
    }
}

.SearchResults
{
    h2
    {
        margin: 0;
    }

    
    &.Detailed
    {
        .Item
        {
            height: 300px;

            display: grid;
            grid-template-columns: 300px 500px 270px;

            .Description
            {
                font-size: $small-font-size;
                color: $graphite;
            }
        }
    }
    
    &.Collapsed
    {
        .Item
        {
            display: grid;
            grid-template-columns: 100px 200px 100px;
    
            .ItemBody
            {
                .Prices
                {
                    margin-top: 30px;
                }
            }
        }
    }

    .ListItem
    {
        outline: none;
        transition: 200ms;
    }

    .ItemBody
    {
        margin-left: 50px;
    }

    .Seller
    {
        color: $blue;
        cursor: pointer;
    }

    .Pricing
    {
        margin-top: 10px;

        .Button
        {
            text-transform: capitalize;
            margin-right: 5px;
            width: 100px;
            border-radius: 5px;
            color: white;

            padding: 5px 15px;

            font-size: $normal-font-size;
            
            &.Bid
            {
                
                background-color: $green;
            }

            &.Buyout
            {
                background-color: $red;
            }
        }
        
        .Prices
        {
            color: $graphite;

            .Title
            {
                font-weight: 300;
            }

            .Price
            {
                &.Starting
                {
                    color: $blue;
                }

                &.Current
                {
                    color: $green;
                }

                &.Buyout
                {
                    color: $red;
                }
            }
        }

        .Dates
        {
            font-size: $normal-font-size;

            .Date
            {
                &.Started
                {
                    color: $green;
                }

                &.Ends
                {
                    color: $red;
                }
            }
        }
    }
}
