@import 'global';

h1
{
    font-weight: 400;
    color: $red;

    padding: 50px;
}

.UserForm
{
    .DialogText
    {
        label
        {
            font-size: $small-font-size;
        }

        input
        {
            font-size: $normal-font-size;
        }
    }

    h6
    {
        margin-top: 35px;
    }

    .DialogButton
    {
        font-size: $small-font-size;
    }
}  


.UserMenu
{
    padding: 20px;
    
    .UserAvatar
    {
        &:hover {
            cursor: pointer;
        }
    }

    .SettingsIcon
    {
        padding-left: 100px;
        &:hover {
            cursor: pointer;
        }
    }

    .UserDetails
    {
        .Title
        {
            color: $graphite;
            font-size: 1em;
        }

        .Data
        {
            color: $blue;
            font-size: 1.2em;
        }
    }
}

.UserTabs
{
    flex-grow: 1;
    // height: 60px;
    .Tab
    {
        font-size: $normal-font-size;
    }
}

.AuctionGrid
{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

    .AuctionCard
    {
        height: 200px;

        transition: 200ms;
        cursor: pointer;
        background-color: $almost-white;

        &:hover
        {
            background-color: $less-white;
        }

        .Media
        {
            height: 200px;
        }
        
        .Details
        {
            .Title
            {
                font-size: 1.4em;
                
                &:hover
                {
                    color: $graphite;
                }
            }

            .Description
            {
                margin-top: 10px;
                color: $graphite;
                overflow: hidden;
                height: 100px;

                &.Empty
                {
                    font-style: italic;
                }
            }
        }

        .Prices
        {
            color: $graphite;
            background-color: $lesser-white;
    
            .Title
            {
                font-size: $small-font-size;
                font-weight: 300;
            }
    
            .Price
            {
                font-size: $normal-font-size;
                &.Starting
                {
                    color: $blue;
                }
    
                &.Current
                {
                    color: $green;
                }
    
                &.Buyout
                {
                    color: $red;
                }
            }
        }
    
        .Dates
        {
            p
            {
                font-size: $smaller-font-size !important;
                font-weight: 300;
            }
    
            .Date
            {
                font-weight: 400;
                &.Started
                {
                    color: $green;
                }
    
                &.Ends
                {
                    color: $red;
                }
            }
        }
    }
}
